body{
    background-color: #1b1b1b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    margin-top: 20px;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.imagen-container{
    position: relative;
}

.imagen-container img{
    width: 600px;
    border-radius: 10px;
}

.info{
    width: 300px;
    background-color: #4d4949;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

/* Puntos interactivos */
.punto{
    position: absolute;
    width: 10px;
    height: 15px;
    border-radius: 60%;
    background-color: red;
    border: none;
    cursor: pointer;
    opacity: 10;
}

/* Ubicación de cada punto */
.gatillo{
    top: 170px;
    left: 285px;
}

.canon{
    top: 80px;
    left: 190px;
}

.cargador{
    top: 340px;
    left: 450px;
}
/* NUEVOS PUNTOS */

.boca{
    top: 80px;
    left: 55px;
}

.empunadura{
    top: 240px;
    left: 450px;
}

.alza{
    top: 50px;
    left: 460px;
}

.guardamonte{
    top: 210px;
    left: 210px;
}

.calibre{
    top: 80px;
    left: 255px;
}

.puntoMira{
    top: 50px;
    left: 80px;
}

.seguroCargador{
    top: 190px;
    left: 260px;
}



.menu{
    margin-bottom: 20px;
}

.menu button{
    background-color: #341785;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.menu button:hover{
    background-color: #e53935;
}


/* ================= CARTUCHO ================= */

.cartucho{
    top: 50px;
    left: 80px;
}

.Composición{
    top: 50px;
    left: 200px;
}

.Clasificación{
    top: 50px;
    left: 310px;
}

.DatosForenses{
    top: 50px;
    left: 420px;
}



/* ================= BALA ================= */

.Bala{
    top: 260px;
    left: 320px;
}

.Casquillo{
    top: 200px;
    left: 210px;
}

.Pólvora{
    top: 320px;
    left: 400px;
}
.Fulminante{
    top: 350px;
    left: 210px;
}
